name: CI

on:
  push:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: 23f2003695@ds.study.iitm.ac.in
        run: echo "Hello, world!"

      - name: Cache dependencies
        id: cache
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: cache-1baef91

      - name: prime-cache-1baef91
        run: echo "Cache hit ${{ steps.cache.outputs.cache-hit }}"
